.wrapper {      
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 100%;

}

.body {
  display: flex;
  width: 100%;    
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.body-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 10px;
  text-align: center;
  padding: 10px !important;
}

.alert {
  color: red;
  padding: 10px;
}

.title {
  text-align: center;
}